  header {
      text-align: center;
      background: url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11802703_10155973001620364_5537901649505717432_o.jpg');
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 40px;
      font-family: 'Londrina Shadow', cursive;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      font-family: 'Londrina Shadow';
      font-size: 20px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        color: blue;
      }
      li {
        padding: 5px;
        display: block;
        color: blue;
      }
    }
