  header {
      text-align: center;
      background: url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/12144874_10156035069435364_6751246214323735618_n.jpg?oh=1c1cd399a624bc3115c483aadcff701e&oe=573DAD14');
      background-size: cover;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 18px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
        color: blue;
      }
      li {
        padding: 5px;
        display: block;
        color: blue;
      }
    }
