header {
  text-align: center;
  background: url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11802703_10155973001620364_5537901649505717432_o.jpg');
  background-size: cover;
  color: white;
  padding: 0px;
}  
a {
  color: white;
}
h1 {
  font-size: 40px;
  font-family: 'Londrina Shadow', cursive;  
}
h2{
  font-family: 'Rouge Script', cursive;
}
.intro p{
  font-size: 25px;
}
p{
  font-family: 'Rouge Script', cursive;
  font-size: 20px;
}
header img {
  margin: 20px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  class: img-circle;
}
.first img{
  margin: 50px 0px 0px 0px;
}

img {
  margin: 0px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  class: img-circle;
}

.circle img{
  size: 100px;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  font-family: 'Londrina Shadow';
  font-size: 20px;
}

#nav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  list-style-type: none;
}



.dropbtn li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropbtn:hover .dropbtn {
    color:#9affde;
}

.dropdown li{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


article {
  position: center;
  padding: 20px 20px 0 80px;
  margin: 0 auto;
}

body {
  background-color: rgba(193,247,255,0.7);
  text-align: center;
  padding: 0px;
}

.intro {
  background-color: rgba(193,247,255,0.7);
  color:white;
}

.first { 
  background-image: url("images/Venice6.jpg");
  background-size: cover;
  color:white;
  border:7px solid white;
}

.first ul {
    color:white;
}

.first table {
  display:inline;
}

.second {
  padding: 20px;
}

#venice li {
  list-style: none;
}

.indo { 
  background-image: url("images/Indo1.jpg");
  background-size: cover;
  color:white;
  border:7px solid white;
}

.indo img{
  margin: 25px 0px 25px 0px;
 } 

.London { 
  background-image: url("images/London1.jpg");
  background-size: cover;
  color:white;
  border:7px solid white;
}

.London img{
  margin: 25px 0px 25px 0px;  
}

.London ul {
  list-style: none;
}

.peru { 
  background-image: url("images/sa.jpg");
  background-size: cover;
  color:white;
  border:7px solid white;
}

.peru img{
  margin: 25px 0px 25px 0px;
 } 

.peru ul{
  list-style: none;
}


.img {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    height: 370px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    font-family: "Londrina shadow";
    padding: 15px;
    text-align: center;
    vertical-align: bottom;
}

.footer-distributed {
  background-color: rgba(193,247,255,0.7);
  margin:5px;
  border: 7px solid white;
  text-align: center;
  padding: 20px;
  font-family: 'Londrina Shadow', cursive;
}

.footer-company-name {
  font-family:
}


.footer-icons a{
  size:30px; 
}
  



@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
    color: white;
  }
  li {
    padding: 5px;
    display: block;
  }
  article{
    padding: 5px 5px 0px 0px;
  }
  img{
    margin:5px;
  }
}


